
<div class="row">
    <div class="col-md-9">
        <h1>My Contact List</h1>
    </div>
</div>
 
<br /><br />

<div class="row">
    <div class="col-md-10" background-color="red">
        <form name="addContact" ng-submit="addNewContact(name,email)">
            <input class="col-md-4" type="text" placeholder="name" required="" ng-model="name" />
            <input class="col-md-4" type="text" placeholder="email" required="" ng-model="email" /> 
            <input class="col-md-2" type="submit" value="Add Contact" />
        </form>
    </div>
</div>

    <br /><br />
 
<div class="row">
    <div ng-include="'angularjs/views/partial/list.html'"></div>
</div>